<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="RequestBlockingRule1" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{URL}" pattern="*.html" />
                    </conditions>
                    <action type="Redirect" url="http://www.baidu.com/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
