{if !empty($detail['pcate'])}
<div class="toogle_wrap">
  <hr style="border:1px dashed #000; height:1px">
  <div class="toggle_container">
    <ul class="lists">
      <p style="padding:8px;weight:bold">相关推荐</p>
      {php include_once IA_ROOT . '/source/modules/quickshare3/model.php'}
      {php $slide = quickshare3_site_article_search($detail['pcate'], '');}
      {loop $slide['list'] $v}
      <p style="padding:2px 8px"><a href="{php echo $this->createMobileUrl('detail', array('id' => $v['id'], 'weid' => $_W['weid']))}">{$v['title']}→</a></li>
      {/loop}
    </ul>
  </div>
</div>
{/if}


