<div id="header">
	<div class="ico back"><a href="javascript:window.history.back();"><img src="./source/modules/ishopping/style/images/h_back.jpg" /></a></div>
	<div class="txt">{$title}</div>
	<div class="ico user"><a href="{php echo $this->createMobileUrl('wapmember');}"><img src="./source/modules/ishopping/style/images/h_user.jpg" /></a></div>
	<div class="ico cart"><a href="{php echo $this->createMobileUrl('wapcart');}"><img src="./source/modules/ishopping/style/images/h_cart.jpg" /></a></div>
</div>