
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<meta content="telephone=no" name="format-detection" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>卡朋西餐厅</title>
<link href='/source/modules/shopping/style/css/global.css' rel='stylesheet' type='text/css' />
<link href='/source/modules/shopping/style/css/style.css?t=20140127' rel='stylesheet' type='text/css' />
<script type='text/javascript' src='/source/modules/shopping/style/js/jquery-1.7.2.min.js'></script>
<script type='text/javascript' src='/source/modules/shopping/style/js/global.js?t=20140127'></script>
<script type='text/javascript' src='/source/modules/shopping/style/js/shop.js?t=20140127'></script>
<script language="javascript">$(document).ready(shop_obj.page_init);</script>
</head>
<body><div id="shop_page_contents"><div id="cover_layer"></div>
<div id="header">
	<div class="ico back"><a href="javascript:window.history.back();"><img src="/source/modules/shopping/style/images/h_back.jpg" /></a></div>
	<div class="txt">卡朋西餐厅</div>
	<div class="ico user"><a href="/api/0ed579daaa/shop/member/"><img src="/source/modules/shopping/style/images/h_user.jpg" /></a></div>
	<div class="ico cart"><a href="/api/0ed579daaa/shop/cart/"><img src="/source/modules/shopping/style/images/h_cart.jpg" /></a></div>
</div><link href='/source/modules/shopping/style/css/products.css?t=20140127' rel='stylesheet' type='text/css' />
<link href='/source/modules/shopping/style/css/products_media.css?t=20140127' rel='stylesheet' type='text/css' />
<div id="products">
	<div class="station"><a href="/api/0ed579daaa/shop/products/0/">产品展示</a> &gt; <a href='/api/0ed579daaa/shop/products/57/'>餐品系列</a> &gt; <a href='/api/0ed579daaa/shop/products/66/'>经典正餐</a></div>
			<div class="list-1">
							<div class="item">
					<ul>
						<li class="img"><a href="/api/0ed579daaa/shop/detail/46/"><img src="http://img.ptweixin.com/16/1310/8ee498d26e.jpg.250x250.jpg"></a></li>
						<li class="name"><a href="/api/0ed579daaa/shop/detail/46/">西冷牛排</a><span>￥86</span></li>
					</ul>
				</div>
											<div class="item">
					<ul>
						<li class="img"><a href="/api/0ed579daaa/shop/detail/45/"><img src="http://img.ptweixin.com/16/1310/f73c3c498c.jpg.250x250.jpg"></a></li>
						<li class="name"><a href="/api/0ed579daaa/shop/detail/45/">西冷排</a><span>￥125</span></li>
					</ul>
				</div>
				<div class="clear"></div>							<div class="item">
					<ul>
						<li class="img"><a href="/api/0ed579daaa/shop/detail/44/"><img src="http://img.ptweixin.com/16/1310/33b05cf6c7.jpg.250x250.jpg"></a></li>
						<li class="name"><a href="/api/0ed579daaa/shop/detail/44/">美味牛排</a><span>￥135</span></li>
					</ul>
				</div>
											<div class="item">
					<ul>
						<li class="img"><a href="/api/0ed579daaa/shop/detail/43/"><img src="http://img.ptweixin.com/16/1310/e999a8faaf.jpg.250x250.jpg"></a></li>
						<li class="name"><a href="/api/0ed579daaa/shop/detail/43/">炭烧牛排</a><span>￥235</span></li>
					</ul>
				</div>
				<div class="clear"></div>							<div class="item">
					<ul>
						<li class="img"><a href="/api/0ed579daaa/shop/detail/42/"><img src="http://img.ptweixin.com/16/1310/6e070a91ac.jpg.250x250.jpg"></a></li>
						<li class="name"><a href="/api/0ed579daaa/shop/detail/42/">浓香披萨</a><span>￥137</span></li>
					</ul>
				</div>
											<div class="item">
					<ul>
						<li class="img"><a href="/api/0ed579daaa/shop/detail/41/"><img src="http://img.ptweixin.com/16/1310/be674237d5.jpg.250x250.jpg"></a></li>
						<li class="name"><a href="/api/0ed579daaa/shop/detail/41/">香滑比萨</a><span>￥232</span></li>
					</ul>
				</div>
				<div class="clear"></div>					</div>
		</div></div><div id="footer_points"></div>
<footer id="footer">
	<ul>
		<li class="category"><a href="#">分类</a></li>
		<li class="cart"><a href="/api/0ed579daaa/shop/cart/">购物车</a></li>
		<li class="member"><a href="/api/0ed579daaa/shop/member/">我的</a></li>
		<li class="home"><a href="/api/0ed579daaa/shop/">首页</a></li>
	</ul>
</footer><div id="category">
	<div class="close"></div>
	<dl>
					<dt><a href="/api/0ed579daaa/shop/products/57/">餐品系列</a></dt>
						<dd><a href="/api/0ed579daaa/shop/products/66/">&gt; 经典正餐</a></dd>
						<dd><a href="/api/0ed579daaa/shop/products/67/">&gt; 商务简餐</a></dd>
						<dd><a href="/api/0ed579daaa/shop/products/69/">&gt; 浓香比萨</a></dd>
						<dd><a href="/api/0ed579daaa/shop/products/75/">&gt; 风味甜品</a></dd>
					<dt><a href="/api/0ed579daaa/shop/products/56/">饮品系列</a></dt>
						<dd><a href="/api/0ed579daaa/shop/products/63/">&gt; 冰淇淋系列</a></dd>
						<dd><a href="/api/0ed579daaa/shop/products/64/">&gt; 巧克力系列</a></dd>
						<dd><a href="/api/0ed579daaa/shop/products/65/">&gt; 健康果汁</a></dd>
					<dt><a href="/api/0ed579daaa/shop/products/1108/">测试产品分类</a></dt>
						<dd><a href="/api/0ed579daaa/shop/products/1109/">&gt; 女包</a></dd>
						<dd><a href="/api/0ed579daaa/shop/products/1110/">&gt; 休闲包</a></dd>
						<dd><a href="/api/0ed579daaa/shop/products/1111/">&gt; 手提包</a></dd>
						<dd><a href="/api/0ed579daaa/shop/products/1113/">&gt; 男包</a></dd>
						<dd><a href="/api/0ed579daaa/shop/products/1114/">&gt; 经典包</a></dd>
						<dd><a href="/api/0ed579daaa/shop/products/1115/">&gt; 单肩包</a></dd>
					</dl>
</div></body>
</html>