{template wl_header}
<link href='./source/modules/shopping2/style/css/member.css?t=20140127' rel='stylesheet' type='text/css' />
<div id="shop_page_contents">
<div id="cover_layer"></div>
	{template wl_menu}
  
	<div id="order_detail">
			<div class="item">
			<ul>
				<li>订单号：{$order['ordersn']}</li>
				<li>订单时间: {php echo date('Y-m-d H:i:s',$order['createtime'])}</li>
				<li>订单状态: {if $order['status']==0}待付款{elseif $order['status']==1}待确认{elseif $order['status']==2}已付款{elseif $order['status']==3}已完成{/if}</li>
				<li>订单总价: <strong class="fc_red">￥{$order['totalprice']}</strong></li>
				<li>配送状态: {if $item['sendstatus']==1}已配送{else}未配送{/if}</li>
				<li>短信状态: {if empty($order['sms_sta'])}没有发送{else}{$order['sms_sta']}{/if}</li>
				<li>付款方式: {if $order['paytype']==1}余额支付{elseif $order['paytype']==2}在线支付{elseif $order['paytype']==3}货到付款{else}未知方式{/if}</li>				
				<li>订单备注: {$order['remark']}</li>
			</ul>
		</div>
		<div class="item">
			<ul>
				<li>姓名: {$address['username']}</li>
				<li>手机：{$address['tel']}</li>
				<li>地址：{$address['address']}</li>
			</ul>
		</div>

		<div class="item">
			{loop $row $row2}
			<div class="pro">
				<div class="img">
				<a href="{php echo $this->createMobileUrl('wldetail', array('goodsid' => $row2['id']));}"><img src="{$_W['attachurl']}{$row2['thumb']}"></a></div>
				<dl class="info">
					<dd class="name"><a href="{php echo $this->createMobileUrl('wldetail', array('goodsid' => $row2['id']));}">{$row2['title']}</a></dd>
					<dd>价格:￥{$row2['marketprice']}</dd>
					<dd>数量:{$row2['total']}</dd>
 				</dl>
				<div class="clear"></div>
			</div>
			{/loop}
			<div class="total_price">产品总价:<span>￥{$order['totalprice']}</span></div>			
		</div>
		<table style="width:100%"><tr>
		{if $order['sendstatus']==0}
		<td><div class="payment"><a href="{php echo $this->createMobileUrl('show', array('sendstatus'=>1,'orderid' => $orderid,'secretid'=>$secretid));}">确认配送</a></div></td>
		{/if}
		{if $order['status']==2}
		<td><div class="payment"><a href="{php echo $this->createMobileUrl('show', array('status'=>1,'orderid' => $orderid,'secretid'=>$secretid));}">确认订单</a></div></td>
		{/if}
		{if $order['status']<1}
		<td><div class="payment"><a href="{php echo $this->createMobileUrl('show', array('status'=>-1,'orderid' => $orderid,'secretid'=>$secretid));}">关闭订单</a></div></td>
		{/if}
		
		</tr></table>
	</div>
 </div>

