<head> 
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>应用详情</title>
<script type="text/javascript" src="./resource/script/jquery-1.7.2.min.js"></script>
<link href="./source/modules/storefrontend/template/detailsLess.css?v=4" rel="stylesheet" type="text/css">
<link href="./source/modules/storefrontend/template/sjqqapi.css?v=1" rel="stylesheet" type="text/css" >

</head>
<body>

<div class="det-main-container">
    {template appdetail_header}
    {template multislide}
    {template appdetail_body}
    {template apprecommend}
</div>


</body>
</html>
