<!--
  <div class="det-about-apps-container J_Mod btn-install-cross" data-modname="appLikeList">
            <div class="det-about-tit">相关应用</div>
            <ul class="det-about-applist">
                <li class="det-about-app-box">
                    <div class="app-icon"><a href="../myapp/detail.htm?apkName=com.tencent.mobileqq&amp;apkCode=146" target="_blank" data-title="QQ" class="icon"><img src="http://pp.myapp.com/ma_icon/0/icon_6633_18739071_1407388718/72"></a></div>
                    <div class="app-right-data">
                        <a class="appName" href="../myapp/detail.htm?apkName=com.tencent.mobileqq&amp;apkCode=146" target="_blank">QQ</a>
                        <div class="down-times">15亿下载</div>
  <a class="T_ComEventAppIns com-install-btn" href="javascript:void(0)" onclick="qqapp_dl_apk(this);" ex_url="http://dd.myapp.com/16891/6BF1B9C4A55A6D8FE4C866B722E224D4.apk?fsname=com%2Etencent%2Emobileqq%5F5%2E0%2E0%5F146.apk" asistanturlid="990499" appname="QQ" apk="" appicon="http://pp.myapp.com/ma_icon/0/icon_6633_18739071_1407388718/72">安装到手机</a>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="det-about-app-box">
                    <div class="app-icon"><a href="../myapp/detail.htm?apkName=com.tencent.pao&amp;apkCode=113" target="_blank" data-title="天天酷跑" class="icon"><img src="http://pp.myapp.com/ma_icon/0/icon_10099632_18759209_1407909866/72"></a></div>
                    <div class="app-right-data">
                        <a class="appName" href="../myapp/detail.htm?apkName=com.tencent.pao&amp;apkCode=113" target="_blank">天天酷跑</a>
                        <div class="down-times">2.7亿下载</div>
  <a class="T_ComEventAppIns com-install-btn" href="javascript:void(0)" onclick="qqapp_dl_apk(this);" ex_url="http://dd.myapp.com/16891/67B6E3CD5D24FA05FE4DC95D0C941521.apk?fsname=com%2Etencent%2Epao%5F1%2E0%2E13%2E0%5F113.apk" asistanturlid="990499" appname="天天酷跑" apk="" appicon="http://pp.myapp.com/ma_icon/0/icon_10099632_18759209_1407909866/72">安装到手机</a>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="det-about-app-box">
                    <div class="app-icon"><a href="../myapp/detail.htm?apkName=net.iaround&amp;apkCode=531" target="_blank" data-title="遇见-陌生人约会交友" class="icon"><img src="http://pp.myapp.com/ma_icon/0/icon_5879_18843291_1408349386/72"></a></div>
                    <div class="app-right-data">
                        <a class="appName" href="../myapp/detail.htm?apkName=net.iaround&amp;apkCode=531" target="_blank">遇见-陌生人约会交友</a>
                        <div class="down-times">337万下载</div>
  <a class="T_ComEventAppIns com-install-btn" href="javascript:void(0)" onclick="qqapp_dl_apk(this);" ex_url="http://dd.myapp.com/16891/3CD3B7D9431CF42893758FFF222282E8.apk?fsname=net%2Eiaround%5F5%2E3%2E1%5F531.apk" asistanturlid="990499" appname="遇见-陌生人约会交友" apk="" appicon="http://pp.myapp.com/ma_icon/0/icon_5879_18843291_1408349386/72">安装到手机</a>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="det-about-app-box">
                    <div class="app-icon"><a href="../myapp/detail.htm?apkName=com.qzone&amp;apkCode=73" target="_blank" data-title="QQ空间" class="icon"><img src="http://pp.myapp.com/ma_icon/0/icon_9959_18782248_1408108095/72"></a></div>
                    <div class="app-right-data">
                        <a class="appName" href="../myapp/detail.htm?apkName=com.qzone&amp;apkCode=73" target="_blank">QQ空间</a>
                        <div class="down-times">8.2亿下载</div>
  <a class="T_ComEventAppIns com-install-btn" href="javascript:void(0)" onclick="qqapp_dl_apk(this);" ex_url="http://dd.myapp.com/16891/39F329D4F464EE01905A442C9641B1B7.apk?fsname=com%2Eqzone%5F4%2E8%2E3%2E138%5F73.apk" asistanturlid="990499" appname="QQ空间" apk="" appicon="http://pp.myapp.com/ma_icon/0/icon_9959_18782248_1408108095/72">安装到手机</a>
                    </div>
                    <div class="clear"></div>
                </li>
                <li class="clear"></li>
            </ul>
    </div>
-->
