{template 'common/header'}
<div style="margin:20px">
  <h3>【应用商店】还处于萌芽阶段，热切希望听到你提出的宝贵建议。</h3>
  <h3>觉得哪里不好用，需要哪些新功能，都可以告诉我们，非常感谢!!</h3>
<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="store_advice_key_0001" data-title="AppStore建议" data-url="{php echo $this->createWebUrl('StoreAdvice')"></div>
  <!-- 多说评论框 end -->
  <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
  <script type="text/javascript">
    var duoshuoQuery = {short_name:"raywill"};
(function() {
 var ds = document.createElement('script');
 ds.type = 'text/javascript';ds.async = true;
 ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
 ds.charset = 'UTF-8';
 (document.getElementsByTagName('head')[0] 
  || document.getElementsByTagName('body')[0]).appendChild(ds);
 })();
</script>
<!-- 多说公共JS代码 end -->
</div>
{template 'common/footer'}
